{% extends 'base.html.twig' %}

{% block body %}
<div class="container mt-4 text-center">
    <form method="post">
        <h2 class="mb-3 font-weight-normal">Please sign in</h2>
        <label for="inputUsername">Username</label>
        <input type="text" value="{{ last_username }}"
               name="username"
               id="inputUsername" class="form-control mb-4" required
               autofocus>
        <label for="inputPassword">Password</label>
        <input type="password" name="password" id="inputPassword"
               class="form-control mb-4" required>

        <input type="hidden" name="_csrf_token"
               value="{{ csrf_token('authenticate') }}"
        >

    {#
        Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
        See https://symfony.com/doc/current/security/remember_me.html

        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" name="_remember_me"> Remember me
            </label>
        </div>
    #}

        <button class="btn btn-lg btn-primary mt-4" id="btnRegister" type="submit">
            Sign in
        </button>
    </form>
    <p class="mt-5">Don't you have an account on WebsiteName ?</p>
    <a href="{{ path('app_register') }}">Register</a>
    <p class="mt-5">Forgot your password ?</p>
    <a href="{{ path('reset_password_mail') }}">Reset your password here !</a>
</div>
{% endblock %}
