{% extends 'base.html.twig' %}

{% block body %}
    <div class="container text-center">
        <h2 class="mt-5">Inscription</h2>
        <p class="mt-5">J'ai déjà un compte MyOwnDictionary ...</p>
        <a href="{{  path('login') }}">Je me connecte</a>
    </div>
{% endblock %}

