{% extends 'base.html.twig' %}

{% block body %}
    <div class="container text-center">
        <h2 class="mt-5">Se connecter</h2>
        <p class="mt-5">
            <a href="{{  path('passwordNew') }}">Mot de passe
                oublié ?</a>
        </p>
        <p class="mt-5">Pas encore de compte MyOwnDictionary?</p>
        <a href="{{ path('join') }}">Je m'inscris</a>
    </div>
{% endblock %}
