{% extends 'base.html.twig' %}

{% block body %}
    <div class="container text-center">
        <p class="mt-5">Vous avez oublié votre mot de passe ?</p>
        <p>Saisissez votre e-mail pour le réinitialiser :</p>
        <p class="mt-5">Retourner à la page d'acceuil</p>
        <a href="{{ path('login') }}">Je me connecte</a>
    </div>
{% endblock %}

