{# templates/emails/registration.html.twig #}
<h3>You did it! You registered!</h3>

Hi {{ name }} ! You're successfully registered.

{# example, assuming you have a route named "login" #}
To login <a href=" {{ email_link }}">Please click this link to confirm
    your email</a>.

Thanks!